.modal-header
  button.close(type='button', aria-label='close', ng-click='cancel()')
    span(aria-hidden='true') &times;
  h4.modal-title TITLE
.modal-body
  form.form-horizontal
    .form-group
      label.col-md-2.control-label 官方編號
      .col-md-10
        input.form-control(type='text' placeholder='官方編號', ng-model='ui.template_id_short')
    .form-group
      label.col-md-2.control-label 標題
      .col-md-10
        input.form-control(type='text' placeholder='標題', ng-model='ui.name')
    .form-group
      label.col-md-2.control-label 行業代碼
      .col-md-10
        input.form-control(type='text' placeholder='行業代碼', ng-model='ui.industry_code')
    .form-group
      label.col-md-2.control-label 主行業
      .col-md-10
        input.form-control(type='text' placeholder='主行業', ng-model='ui.main_industry')
    .form-group
      label.col-md-2.control-label 副行業
      .col-md-10
        input.form-control(type='text' placeholder='副行業', ng-model='ui.vice_industry')
.modal-footer
  button.btn.btn-default(type='button', data-dismiss='modal', ng-click='cancel()') Close
  button.btn.btn-info(type='button' ng-click='save()') Save