html { font-size: 16px !important; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -ms-font-smoothing: antialiased; font-smoothing: antialiased; }

body { margin: 0; color: #333; font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: inherit; }

ul, ol { list-style-type: none; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; }

nav { position: fixed; top: 0; left: 0; display: block; width: 60px; height: 100%; background: rgba(0, 0, 0, 0.8); font-size: 0.9375rem; z-index: 10; -webkit-animation: fadeInLeft 0.5s ease-in-out 0s backwards; -moz-animation: fadeInLeft 0.5s ease-in-out 0s backwards; -o-animation: fadeInLeft 0.5s ease-in-out 0s backwards; -ms-animation: fadeInLeft 0.5s ease-in-out 0s backwards; animation: fadeInLeft 0.5s ease-in-out 0s backwards; }

nav li { position: relative; cursor: pointer; height: 60px; height: 3.75rem; line-height: 60px; line-height: 3.75rem; text-align: right; }

nav li::after, nav li:last-child::before { content: ''; width: 100%; height: 1px; position: absolute; top: 0; left: 0; background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); }

nav li:last-child::before { top: auto; bottom: 0; }

nav li.selected { background: rgba(0, 0, 0, 0.5); }

nav li.selected > a::after { content: ''; position: absolute; width: 0; height: 0; border: 0.625rem solid transparent; border-left-color: black; left: 100%; top: 50%; margin-top: -0.625rem; -webkit-animation: fadeInLeft 0.3s ease 0s backwards; -moz-animation: fadeInLeft 0.3s ease 0s backwards; -o-animation: fadeInLeft 0.3s ease 0s backwards; -ms-animation: fadeInLeft 0.3s ease 0s backwards; animation: fadeInLeft 0.3s ease 0s backwards; }

nav li > a { z-index: 1; display: block; color: #fff; padding: 0px 15px; padding: 0rem 0.9375rem; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }

nav li:hover > a { background: rgba(0, 0, 0, 0.5); }

.logo { position: relative; width: 60px; height: 60px; background-color: #698ebf; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-animation: breathe 2s ease-in-out 0.5s infinite alternate; -moz-animation: breathe 2s ease-in-out 0.5s infinite alternate; -o-animation: breathe 2s ease-in-out 0.5s infinite alternate; -ms-animation: breathe 2s ease-in-out 0.5s infinite alternate; animation: breathe 2s ease-in-out 0.5s infinite alternate; }

.logo::after { font-size: 1.5rem; line-height: 60px; position: absolute; width: 100%; height: 100%; color: #fff; text-align: center; content: attr(data-icon); }

.logo:hover { background-color: rgba(105, 142, 191, 0.5); border-color: rgba(0, 0, 0, 0.6); text-shadow: 0 0 25px rgba(255, 255, 255, 0.8); }

.intro-pop { display: none; position: absolute; top: 0; left: 100%; z-index: 11; padding: 0.9375rem; -webkit-box-shadow: 1px 1px 2px whitesmoke; -moz-box-shadow: 1px 1px 2px whitesmoke; box-shadow: 1px 1px 2px whitesmoke; background: #f3fdff; text-align: center; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; }

.intro-pop.showed { -webkit-animation: fadeInRight 0.6s ease; -moz-animation: fadeInRight 0.6s ease; -o-animation: fadeInRight 0.6s ease; -ms-animation: fadeInRight 0.6s ease; animation: fadeInRight 0.6s ease; display: block; }

.intro-pop.hidden { display: none; }

.intro-pop .face { width: 5rem; height: 5rem; border-radius: 50%; -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); background: url(../images/wf.jpg) center no-repeat/cover; }

@-webkit-keyframes breathe { from { border-color: rgba(0, 0, 0, 0.3); }
  to { border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(105, 142, 191, 0.7); } }

@-moz-keyframes breathe { from { border-color: rgba(0, 0, 0, 0.3); }
  to { border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(105, 142, 191, 0.7); } }

@-ms-keyframes breathe { from { border-color: rgba(0, 0, 0, 0.3); }
  to { border-color: rgba(0, 0, 0, 0.6); background-color: rgba(105, 142, 191, 0.7); } }

@-o-keyframes breathe { from { border-color: rgba(0, 0, 0, 0.3); }
  to { border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(105, 142, 191, 0.7); } }

@keyframes breathe { from { border-color: rgba(0, 0, 0, 0.3); }
  to { border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(105, 142, 191, 0.7); } }

body { background-color: #ecf3fd; }

.nav-aside { padding-left: 30%; }

.banner { width: 30%; height: 100%; position: fixed; left: 0; top: 0; overflow: hidden; }

.layer-mask { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 9; background: url("../images/dot.png"); }

section { padding: 0.625rem; -webkit-animation: pageScrollInRight 0.5s ease-out 0s both; -moz-animation: pageScrollInRight 0.5s ease-out 0s both; -o-animation: pageScrollInRight 0.5s ease-out 0s both; -ms-animation: pageScrollInRight 0.5s ease-out 0s both; animation: pageScrollInRight 0.5s ease-out 0s both; }

.page-nav { border-bottom: 2px solid #d9d9d9; }

.page-nav > a { position: relative; height: 48px; height: 3rem; line-height: 48px; line-height: 3rem; padding: 0.625rem; border-width: 2px; }

.page-nav > a.active { border-bottom: 2px solid #000; }

@-webkit-keyframes pageScrollInRight { from { opacity: 0;
    -webkit-transform: translateX(10%); }
  to { opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes pageScrollInRight { from { opacity: 0;
    -moz-transform: translateX(10%); }
  to { opacity: 1;
    -moz-transform: translateX(0%); } }

@-ms-keyframes pageScrollInRight { from { opacity: 0; -ms-transform: translateX(10%); }
  to { opacity: 1; -ms-transform: translateX(0%); } }

@-o-keyframes pageScrollInRight { from { opacity: 0;
    -o-transform: translateX(10%); }
  to { opacity: 1;
    -o-transform: translateX(0%); } }

@keyframes pageScrollInRight { from { opacity: 0;
    transform: translateX(10%); }
  to { opacity: 1;
    transform: translateX(0%); } }

footer { width: 100%; position: absolute; bottom: 1.25rem; margin-left: 1.875rem; text-align: center; font-size: 0.75rem; color: #fff; }

.loading { position: absolute; left: 50%; top: 50%; margin-top: -3.125rem; margin-left: -0.9375rem; width: 2.5rem; }

.loading > span { display: inline-block; width: 0.625rem; height: 0.625rem; border-radius: 50%; background: #ccc; -webkit-animation: beat 0.7s infinite linear; animation: beat 0.7s infinite linear; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.loading > span:nth-child(odd) { animation-delay: 0s; }

.loading > span:nth-child(even) { animation-delay: .35s; }

@-webkit-keyframes beat { 50% { -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-opacity: 0.2;
    opacity: 0.2; }
  100% { -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1; } }

@keyframes beat { 50% { -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-opacity: 0.2;
    opacity: 0.2; }
  100% { -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fadeIn { from { opacity: 0;
    -webkit-transform: scale(0.5); }
  to { opacity: 1;
    -webkit-transform: scale(1); } }

@-moz-keyframes fadeIn { from { opacity: 0;
    -moz-transform: scale(0.5); }
  to { opacity: 1;
    -moz-transform: scale(1); } }

@-ms-keyframes fadeIn { from { opacity: 0; -ms-transform: scale(0.5); }
  to { opacity: 1; -ms-transform: scale(1); } }

@-o-keyframes fadeIn { from { opacity: 0;
    -o-transform: scale(0.5); }
  to { opacity: 1;
    -o-transform: scale(1); } }

@keyframes fadeIn { from { opacity: 0;
    transform: scale(0.5); }
  to { opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes fadeInLeft { from { opacity: 0;
    -webkit-transform: translateX(-1.875rem); }
  to { opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeft { from { opacity: 0;
    -moz-transform: translateX(-1.875rem); }
  to { opacity: 1;
    -moz-transform: translateX(0); } }

@-ms-keyframes fadeInLeft { from { opacity: 0; -ms-transform: translateX(-1.875rem); }
  to { opacity: 1; -ms-transform: translateX(0); } }

@-o-keyframes fadeInLeft { from { opacity: 0;
    -o-transform: translateX(-1.875rem); }
  to { opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInLeft { from { opacity: 0;
    transform: translateX(-1.875rem); }
  to { opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeInRight { from { opacity: 0;
    -webkit-transform: translateX(0.625rem); }
  to { opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRight { from { opacity: 0;
    -moz-transform: translateX(0.625rem); }
  to { opacity: 1;
    -moz-transform: translateX(0); } }

@-ms-keyframes fadeInRight { from { opacity: 0; -ms-transform: translateX(0.625rem); }
  to { opacity: 1; -ms-transform: translateX(0); } }

@-o-keyframes fadeInRight { from { opacity: 0;
    -o-transform: translateX(0.625rem); }
  to { opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInRight { from { opacity: 0;
    transform: translateX(0.625rem); }
  to { opacity: 1;
    transform: translateX(0); } }
