.logo(data-icon='WF')
.intro-pop
	.face
	h2 前端
ul
	li(ui-sref='main.home', ui-sref-active='selected')
		a 日志
	li(ui-sref='main.comment', ui-sref-active='selected')
		a 评论
	li(ui-sref='main.link', ui-sref-active='selected')
		a 链接
	li(ui-sref='main.about', ui-sref-active='selected')
		a 关于