@include keyframes(fadeIn){
  from{
    opacity:0;
    #{$b}transform:scale(0.5);
  }
  to{
    opacity:1;
    #{$b}transform:scale(1);
  }
}

@include keyframes(fadeInLeft){
  from{
    opacity:0;
    #{$b}transform:translateX(pxTorem(-30px));
  }
  to{
    opacity:1;
    #{$b}transform:translateX(pxTorem(0));
  }
}

@include keyframes(fadeInRight){
  from{
    opacity:0;
    #{$b}transform:translateX(pxTorem(10px));
  }
  to{
    opacity:1;
    #{$b}transform:translateX(pxTorem(0));
  }
}