section{
  @include prefixer('animation', pageScrollInRight .5s ease-out 0s both);
}

@include keyframes(pageScrollInRight){
  from{
    opacity:0;
    #{$b}transform:translateX(10%);
  }
  to{
    opacity:1;
    #{$b}transform:translateX(0%);
  }
}

footer{
  position:absolute;
  bottom:0;
  right:0;
  width:pxTorem(250px);
  @include height(40px,true);
  @include box('padding', 0, 10px);
  z-index:999;
  color:#FFF;
  background-color:rgba(0,0,0,.8);
  border-radius:5px 0 0 0;
}