body{
  background-color: #ecf3fd;
}

.nav-aside{
  padding-left: 30%;
}

.banner{
  width: 30%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  @at-root
  .layer-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background: url('../images/dot.png');
  }
}

section{
  padding: pxTorem(10px);
  @include prefixer('animation', pageScrollInRight .5s ease-out 0s both);
  @at-root
  .page-nav{
    border-bottom: 2px solid #d9d9d9;
    > a{
      position: relative;
      @include height(48px, true);
      padding: pxTorem(10px);
      border-width: 2px;
      &.active{
        border-bottom: 2px solid #000;
      }
    }
  }
}

@include keyframes(pageScrollInRight){
  from{
    opacity:0;
    #{$b}transform:translateX(10%);
  }
  to{
    opacity:1;
    #{$b}transform:translateX(0%);
  }
}

footer{
  width: 100%;
  position: absolute;
  bottom:pxTorem(20px);
  margin-left: pxTorem(30px);
  text-align: center;
  font-size: pxTorem(12px);
  color: #fff;
}