html {
  font-size:$default-font-size !important;
  @include prefixer('font-smoothing', antialiased);
}

body {
  margin: 0;
  color: #333;
  font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: inherit; }
ul, ol { list-style-type: none; }

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
a{
  text-decoration:none;
}