.navbar-header
  button.navbar-toggle.collapsed(type='button', ng-click='isCollapsed = !isCollapsed')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='#') WFtest
#navbar.navbar-collapse(uib-collapse='isCollapsed')
  ul.nav.navbar-nav
    li(ui-sref='app.wechat', ui-sref-active='active')
      a(href='javascript:;') 公眾號管理
    li.dropdown(uib-dropdown, ng-class="{true:'active'}[ui.isActive]", class='{{hover}}' ng-mouseenter="hover='open'" ng-mouseleave="hover=''")
      a.dropdown-toggle(href='#', uib-dropdown-toggle) 管理
        span.caret
      ul.dropdown-menu
        li(ui-sref='app.fans', ui-sref-active='active')
          a(href='javascript:;') 粉絲資料
        li(ui-sref='app.material.images', ui-sref-active='active')
          a(href='javascript:;') 材料庫
        li(ui-sref='app.about', ui-sref-active='active')
          a(href='javascript:;') 模板管理
  ul.nav.navbar-nav.navbar-right
    li
      a 
        span.fa.fa-user
        |  {{ui.email}}
    li
      a(href='javascript:;' ng-click='logout()') 退出